.main{
    width: 960px;
	margin: 0 auto;
}/*set for whole page*/

body{
    background-color: white;
    color: #F17877;
	font-family:  "Varela", sans-serif; 
}/*for whole page*/

 .status{ /*For Login / Logout tab*/
        color: #F17877;  
        font-size: 18px;      
    }

 .btn{ /*For button styles*/
      background-color: #d8d8d8;
      color: #F17877;     
 }

 /*ALL of below for search box doesnt work yet*/
.box{
  margin-left: 755px;
  margin-top: 5px;
  width: 100px;
  height: 10px;
}/*measurements for search box*/

.container-1{
  vertical-align: middle;
  white-space: nowrap;
}

.container-1 input#search{
  width: 200px;
  height: 30px;
  background: #F17877;
  border: none;
  font-size: 10pt;
  
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: white;
}

.container-1 .icon{
  z-index: 1;
  color: #F17877;
}

container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #F17877;
  }
/*Search box end*/


 /*START OF CSS FOR nav bar menu*/
#nav{
	padding-bottom: 10px;
    margin-top: 30px;
    background-color: #F17877;
	}/*Measurements*/

#nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;	
	text-align: center;
}/*Details*/

#nav ul li {
	display: inline;
}/*Vertical*/

#nav ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
	color: white;
	font-family: "Varela", sans-serif;
}/*Text details*/

#nav ul li a:hover {
	color: black;
}/*Responsive when mouse hover over*/
 /*END OF NAV BAR CSS*/

 /*CSS FOR Home page  && slider animation*/
@keyframes slidy {
0% { left: 0%; }
50% { left: -100%; }
}/*settings*/

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; } /*Size*/
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  animation: 40s slidy infinite; 
}/*Size / speed*/

 .banner1{ /*image css for decorative banner 1*/
     display: inline-block;
    width: 960px;
    height: 320px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/banner.jpg)
    /*alt="Banner image displaying gift sets"*/
 }

 .banner2{ /*css for image banner 2 decorative picture*/
     display: inline-block;
    width: 960px;
    height: 320px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/banner2.png)
    /*alt=""Banner image displaying products"*/
 }

 .styleImg{
    display: inline-block;
    width: 300px;
    height: 300px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/style.jpg)
    /*alt="Style image displaying products"*/
 }

 .mascaraImg{
    display: inline-block;
    width: 300px;
    height: 300px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/new.jpg)
    /*alt="Style image displaying products"*/
 }

 .variousImg{
    display: inline-block;
    width: 300px;
    height: 300px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/fav.jpg)
    /*alt="Style image displaying products"*/
 }

 .discover{
    float: right;
    display: inline-block;
    width: 600px;
    height: 400px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/discover.jpg)
 }

  .cart{ /*for shopping bag logo, decorative image*/
    float: right;
    margin-top: 5px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/cart.jpg)
    /*alt="Benefit cosmetics logo"*/
  }

.visa{ /*for visa logo decorative image*/
    float:left;
    display: inline;
    text-decoration: none;
    width: 32px;
    height: 32px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/visa.png)
    /*alt=Visa credit logo*/
}

.paypal{ /*for paypal logo image decorative*/
    float: left;
    display: inline;
    text-decoration: none;
    width: 32px;
    height: 32px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/paypal.png)
    /*alt="Paypal credit logo*/
}

.mastercard{ /*for mastercard logo decorative image*/
    float: left;
    display: inline;
    text-decoration: none;
    width: 32px;
    height: 32px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/mastercard.png)
    /*alt=Mastercard credit logo*/
}

/*CSS FOR Face page*/
.face{
    display: inline-block;
    text-align: center;
    border: 1px solid #F17877;
    width: 300px; 
    height: 500px;
    vertical-align: top;
}

.homePurchase{
    float: left;
    display: inline-block;
    text-align: center;
    border:1px solid white;
    width: 300px; 
    height: 450px;
   vertical-align: top;
}

/*CSS For Admin page*/

.adminEnter{
    text-align: left;
    width: 900px;
}


/*CSS FOR LOGIN PAGE*/
.login{
    float: right;
   /*For users to signup*/
}

 /*CSS For Contact page*/
#email{
    border: 1px solid #F17877;
    width: 200px;
    float: left;
}/*For conact forms*/

#contact{
    width: 200px;
    float: right;
} /*For Address/telephone on contact page to position*/

#location {
    text-align: center;
    bottom: auto;
} /*for map image*/
  
    #map{
        height: 48px;
        width: 260px;
        margin: 0px auto;
        padding: 230px;
        height: auto !important;
      
    } 

/*end of contact page*/


/*CSS FOR Footer and footer elements*/

footer{
width: 960px; /* it was width: auto check it looks correct*/
height: 250px;
background-color: #F17877;
margin-top: auto;
color: white;

}

#foot{
    width: auto;
    height: 100%;
    margin-top: 25px;
    margin-left: 25px;
    
}

div.social {
    float: left;
    margin-top: 15px;
   
}

a.social{
    margin-right: 15px;
}
/*Social title / images links*/
div.subscribe{
   float: right;
   margin-top: 15px;
}

.links{
    
   font-size: 13px;
   width: 500px;
   margin-right: 15px;
   display: inline-block;

} /*For headings*/

.links ul li a {
	text-decoration: none;
	padding: 0.2em 1em;
	color: white;
	font-family: "Lucida Console", Monospace;	
    
}

.links li{
    list-style: none;
    padding: 0;
 
}

.links ul li a:hover {    
	color: black;
}

#links{
    float: right;
    display: inline;
}

/*CSS for help links under heading*/
#help{
    display: inline-block;
    margin-right: 80px;
    margin-top: 15px; 
}/*position*/

#HelpLinks ul, li, a{
text-decoration: none;
color: white;
font-family: "Varela", sans-serif;
font-size: 12px;
}/*styling*/

    #HelpLinks ul li a:hover {
        color: black;
    }
#HelpLinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
/*CSS for my account heading & links*/
#Account{
    display: inline-block;
    margin-right: 50px;
    margin-top: 25px; 
}/*Position*/

#MyAccount{
    display: inline;  
}

#AccountLinks ul, li, a{
text-decoration: none;
color: white;
font-family: "Varela", sans-serif;
}/*style*/

#AccountLinks ul li a:hover {
        color: black;
    }

#AccountLinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#BottomFooter{
    text-align: center;
    margin-top: 180px;
    font-size: 10px;
    
    position: absolute;
} /*For copyright & paying images*/

 #Validate, absolute{  
     right: 500px;   
     position: absolute;
     margin-top: 180px;
      
  } /*For validator links/text positioning*/
  
.logo{ /*logo image*/
    text-decoration: none;
    width: 164px;
    height: 63px;
    text-indent:-9999px;
    background-repeat: no-repeat, repeat;
    background-image: url(Images/logo.png)
    /*alt="Benefit cosmetics logo"*/
}




    